*{
    margin: 0;
    padding: 0;
 
}



.titulo{
    display: flex;
    justify-content: center;
 }

                                            /* primer texto  */
.PrimerTexto{
    text-align: center;
   }

.ImagenPrimer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

   .ImagenPrimer img{
        margin: 10px 100px 10px 100px;
       border-radius: 10px;
       flex-wrap: wrap;
   }

   .PrimerTexto h1{
       font-size: 50px;
   }

                                            /* segundo texto */
.SegundoTexto{
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.SegundoTexto h2{
    font-size: 50px;
}

                                            /* tercer texto */
.TercerTexto{
    display: flex;
    justify-content: center;
   
     margin: 20px 20px;
     
}
.TercerTexto p{
    margin: 25px 25px;
   text-align: center;

}
                                                /* cuarto texto */
.CuartoTexto{
    display: flex;
   justify-content: space-evenly;

}

.MedioPago{
   display: flex;
   flex-wrap: wrap;
    
}
.MedioPago img{
    width:200px ;
    height: 100px;
}
.MedioCelular{
    display: flex;
    flex-wrap: wrap;
   
}
.MedioCelular img{
    width:200px ;
    height: 100px;
}

                                                    /* sucursal */
.TextoUnoSucursal h1{
    text-align: center;
}
.TextoUnoSucursal p {
padding: 10px 100px 10px 100px;
    text-align: center;
    font-size: 20px;
}
.MapaUno{
    text-align: center;
    font-size: 30px;
}
.Mapa{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.MapaDos{
    text-align: center;
    font-size: 30px; 
}


.fondosucursal{
    display: flex;
    margin-left: 600px;
    margin-right: 300px;
}
.fondosucursal img{
    width: 300px;
    height: 150px;
}

                                                        /* servicio */


  /* texto 1 */

  .TextoUnoServicos{
    text-align: center;
    font-size: 20px;
    margin: 30px;
}
/* cuadro uno */
.CuadroUnoServicios{
    display: flex;
    
}
.CuadroUnoServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.CuadroUnoServicios p{
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.BotonUno{
    text-align: right;
    margin-right: 400px;
}

/* cuadro dos */

.CuadroDosServicios{
    display: flex;   
}
.CuadroDosServicios p {
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.CuadroDosServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.BotonDos{
    text-align: right;
    margin-right: 400px;
}
/* cuadro tres */
.CuaroTresServicios{
    display: flex;   
}
.CuaroTresServicios p{
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.CuaroTresServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.BotonTresServicios{
    text-align: right;
    margin-right: 400px;
}
/* cuatro cuatro */
.CuatroCuatroServicios{
    display: flex;   
}
.CuatroCuatroServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.CuatroCuatroServicios p{
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.BotonCuatroServisios{
    text-align: right;
    margin-right: 400px;
}

/* fondo servicos */
.FondoServicios{
    text-align: center;
    font-size: 25px;
}
.FondoServicios img{
    width:100% ;
    height: 300px;
}

                                                /*iniciar sesion */
.cajainiciar{
    display: flex;
    justify-content: center;
}
.cajasesion{
    display: grid;
    width: 30%;
    text-align: center;
    background-color: #F6E3CA;
    border: #D7C8B6 2px solid;
    border-radius: 5px;
}
.cajasesion a{
   text-decoration: none;
   margin: 2%;
}
                                            /* registarme */
.cajaregistro{
    display: flex;
    justify-content: center;
}
.cuadroregistro{
    display: grid;
    width: 30%;
    text-align: center;
    background-color: #F6E3CA;
    border: #D7C8B6 2px solid;
    border-radius: 5px; 
}